//.lbl-toggle {
//  display: block;
//  font-weight: bold;
//  font-family: monospace;
//  font-size: 1.2rem;
//  text-transform: uppercase;
//  text-align: center;
//  padding: 1rem;
//  //color: #DDD;
//  //background: #f9f9f9;
//  cursor: pointer;
//  border-radius: 7px;
//  transition: all 0.25s ease-out;
//}

.lbl-toggle-short {
  //display: block;
  //font-weight: bold;
  //font-family: monospace;
  //font-size: 1.2rem;
  //text-transform: uppercase;
  //text-align: center;
  //padding: 1rem;
  ////color: #DDD;
  ////background: #f9f9f9;
  //cursor: pointer;
  //border-radius: 7px;
  //transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
  //color: #FFF;
  color: #DDD;
}

.cover {
  //justify-content: center;
  //display: flex;
}


.lbl-toggle {
  content: '';
  display:inline-block;
  width: 0.8rem;
  height: 0.8rem;
  margin-left: 0.5rem;
  //margin-left: 30px;

  border-top: 0.1rem solid #333;
  border-right: 0.1rem solid #333;
  transform: rotate(135deg);

  transition: transform .2s ease-out;

  //margin-top: 5px;
}

.lbl-toggle-short {
  content: ' ';
  //display: inline-block;
  //border-top: 5px solid transparent;
  //border-bottom: 5px solid transparent;
  //border-left: 5px solid currentColor;
  //vertical-align: middle;
  //margin-right: .7rem;
  //transform: translateY(-2px);

  content: '';
  display:inline-block;
  width: 0.8rem;
  height: 0.8rem;
  margin-left: 0.5rem;
  //margin-left: 30px;

  border-top: 0.1rem solid #333;
  border-right: 0.1rem solid #333;
  //transform: rotate(315deg);
  transform: rotate(-45deg);
  transition: transform .3s ease-out;
}

