._quick_div{
  width: 100%;
  min-width: 320px;
  height: 200px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  border-bottom: 1px solid #EDEDED;
  ._quick_menu{
    height: 200px;
  }
}