main {
  min-height: calc(100vh - 217px);
  position: relative;
  //left: 0;
  //top: 80px;
  width: 1400px;
  margin: 20px auto;
  //padding-top: 81px;

  //border: solid blue;
}

main section {
  width: 100%;
}

main section > div {
  width: 1200px;
  margin: 60px auto;
  position: relative;
  box-sizing: border-box;
}

.career_title_section h2 {
  font-size: 28px;
  font-weight: 500;
}

.career_title_section h3 {
  font-weight: 400;

}

.contents_section .contents_container {
  box-sizing: border-box;
  width: 100%;
  //max-width: 71.25rem;
  padding: 2rem 2rem;
  margin: 0 auto;
}

.contents_section .contents_container .contents {
  width: 100%;
  display: flex;
  //margin-top: 30px;
}

.contents_section .contents_container .contents .contents_left_div {
  padding-right: 3rem;
  border-right: 1px solid #ccc;
  width: 25%;
  text-align: center;
}

.contents_section .contents_container .contents .contents_left_div .history {
  margin: 3px;
}

.contents_section .contents_container .contents .idx1 {
  height: 330px;
  //border: 2px solid;
}

.contents_section .contents_container .contents .idx2 {
  height: 350px;
  //border: 2px solid;
}

.contents_section .contents_container .contents .idx3 {
  height: 400px;
}

.contents_section .contents_container .contents .idx4 {
  height: 450px;
}

.contents_section .contents_container .contents .lst {
  height: 200px;
}

.contents_section .contents_container .contents .contents_right_div {
  margin: 0 0 0 124px;
}

.contents_section .contents_container .contents .contents_right_div .right_inner_div {
  //height: 300px;
}

.contents_section .contents_container .contents li {
  //list-style: square;
  list-style: circle;
}

.contents_section .contents_container .contents .contents_right_div .title_div {
  display: flex;
  cursor: pointer;
}

.contents_section .contents_container .contents .contents_right_div .title_inner_div:hover {
  font-weight: 700;
}

.contents_section .contents_container .contents .contents_right_div .title_div img {
  width: 50px;
  height: 50px;
}

.contents_section .contents_container .contents .contents_right_div .title_inner_div p {
  //line-height: 60px;
  margin-left: 20px;
  font-weight: 600;
  font-size: 20px;
}

.contents_section .contents_container .contents .contents_right_div .title_inner_div h3 {
  margin-left: 20px;
  font-weight: 400;
}

.contents_section .contents_container .contents .contents_right_div .contents_div {
  margin-top: 14px;
}

.contents_section .contents_container .contents .contents_right_div li {
  font-size: 15px;
  font-weight: 500;
  line-height: 190%;
}

.contents_section .contents_container .contents .contents_right_div h3 {
  font-size: 13px;
  font-weight: 400;
  line-height: 170%;

}

.contents_section .contents_container .contents .contents_right_div .tag {
  color: #004abf;
}

.fx {
  display: flex;
}

.fold {
  display: none;
}

.foldBox {
  margin-left: 30px;
  width: 400px;
  font-size: 20px;
  text-align: center;
  margin-top: 30px;
}

.tog.toggleBox {
  //float: right;
  margin-top: 30px;
}

.foldBox + .right_fold_div {
  //animation: fade-in 3s ease-in-out;
  //overflow: hidden;
  transition: .5s;
  opacity: 0.1;
}













@media (max-width: 999px) {


}

