.intro_main {
  padding: 20px;
}

main section {
  width: 80%;
  margin-left: 100px;
  min-width: 200px;
}

main section > div {
  //width: 1200px;
  margin: 50px auto;
  position: relative;
  box-sizing: border-box;
}

.intro_title_section h2 {
  font-size: 28px;
  font-weight: 300;
}








.detail_section .intro_box {
  padding: 1rem;
  //border-radius: 3rem;
  //background-color: #e2e7ed;
}

.detail_section .intro_box > li {
  display: flex;
  align-items: center;
  margin: 28px 0;
}


.detail_section .intro_box .intro {
  display: flex;
  width: 100%;
  justify-content: center;
}

.detail_section .intro_box .intro .intro_img{
  margin: 0 108px 0 22px;
}

.detail_section .intro_box .intro .intro_img img{
  width: 350px;
  height: 300px;
  border-radius: 10rem;
}

.detail_section .intro_box .intro .box_list {
  flex-flow: row wrap;
  //width: 100%;
  //width: 700px;
  display: flex;
  height: 350px;
}

.detail_section .intro_box .intro .box_list img {
  width: 45px;
  height: 45px;
}

.detail_section .intro_box .intro .box_list .contents {
  margin: 10px 0 0 17px;
}

.detail_section .intro_box .intro .box_list .contents h2 {
  font-weight: 600;
}

.detail_section .intro_box .intro .box_list .contents p {
  //font-family: "NotoSans", sans-serif;
  font-size: 13px;
}

.detail_section .intro_box .intro .box_list .img_div {
  padding: 10px 0 0 0;
}

.int {
  width: 33.3%;
  display: flex;
}


/**
   skills
*/
.title_section h2 {
  font-size: 28px;
  font-weight: 300;
}

.fx {
  display: flex;
}

.skills_section .contents_div {
  margin-top: 30px;
  padding: 1rem;
  border-radius: 3rem;

  //background-color: ghostwhite;
}

.skills_section .contents_div .skills_intro_div {
  width: 36%;
  padding: 0 10px 0 40px;
  display: flex;
  align-items: center;
}

.skills_section .contents_div .skills_contents_div ul {
  padding-top: 30px;
}

.skills_section .contents_div .skills_intro_div img {
  margin: 0px 24px 0 0;
  opacity: 0.7;
  width: 84px;
  height: 84px;
}


.skills_section .contents_div .skills_contents_div {
  //width: 70%;
  width: 50%;
}

.skills_section .contents_div .skills_contents_div .skills_round_box {
  border-radius: 3rem;
  //background-color: ghostwhite;
  //background-color: #f9f9f9;

  border: 1px solid rgba(0, 0, 0, .1);
}

.skills_section .contents_div .skills_contents_div .skills_round_box:hover {
  background-color: #f9f9f9;
  //cursor: pointer;
}

.skills_section .contents_div .skills_contents_div .skills_round_text {
  float: right;
  width: 30px;
  height: 30px;
  border-radius: 3rem;
  border: 2px solid rgba(0, 0, 0, .1);
  font-weight: 600;
  padding: 2px;
  background-color: cornflowerblue;
}

.skills_section .contents_div .skills_contents_div .skills_round_text p {
  margin-top: 2px;
  margin-left: 2px;
  color: white;
  font-weight: 700;
  font-size: 10px;
}

.skills_section .contents_div .skills_contents_div ul li {
  //width: 33.3%;
  width: 28%;

  display: inline-block;
  //margin: 0 0 28px 0;
  margin: 19px;
  height: 48px;
}

.skills_section .contents_div .skills_contents_div ul li h2 {
  font-size: 17px;
}

.skills_section .contents_div .skills_contents_div ul li img{
  float: left;
  margin: 0 20px 0 0;
  width: 40px;
  height: 40px;
}

.toy {
  font-size: 15px;
  font-weight: 400;
  margin-left: 10px;
  color: #004abf;
}

.skills_section .contents_div .skills_contents_div .sn.skills_round_box li {
  width: 40%;
  display: inline-block;
  margin: 19px;
  height: 48px;
}

.sn {
  width: 83%;
}

@media (min-width: 1400px) and (max-width: 2145px) {
  .skills_section .contents_div .skills_contents_div {
    width: 100%;
  }
}


@media (max-width: 1400px) {
  /* 레이 아웃 */
  main {
    //padding-top: 81px;
    //margin: 20px 0 0 60px;
    margin: 102px 0 0 60px;
  }
  main section {
    margin: 20px auto;
    min-width: 480px;
  }

  .fx {
    flex-wrap: wrap;
    //min-width: 900px;
  }

  .skills_section .contents_div .skills_contents_div ul li {
    width: 40%;
  }

  /*
  .linux {
    width: 39%;
  }

  .git {
    width: 37%;
  }
  */

  .skills_section .contents_div .skills_contents_div {
    //width: 100%;
    width: 67%;
  }

  .skills_section .contents_div .skills_intro_div {
    width: 100%;
  }

  .skills_section .contents_div .skills_contents_div .skills_round_box {
    //width: 66%;
    //width: 78%;
  }

  .detail_section .intro_box .intro {
    justify-content: start;
  }

  .int {
    width: 44%;
  }

  .skills_section .contents_div .skills_intro_div {
    //justify-content: center;
  }
}

@media (max-width: 999px) {
  .skills_section .contents_div .skills_contents_div {
    width: 80%;
  }


}

@media (max-width: 750px) {
  .skills_section .contents_div .skills_contents_div ul li {
    width: 86%;
  }

  .skills_section .contents_div .skills_contents_div {
    width: 53%;
  }

  .skills_section .contents_div .skills_contents_div .sn.skills_round_box li {
    width: 80%;
  }

}

