/* 레이 아웃 */
//#root{
//  overflow-x: hidden;
//  overflow-y: auto;
//}
main {
  min-height: calc(100vh - 208px);
  position: relative;
  //left: 0;
  //top: 80px;
  width: 1400px;
  margin: 20px auto;
  //padding-top: 81px;

  //border: solid blue;
}

main > div {
  width: 100%;
  margin: 0 auto;
  height: 100%;
  position: relative;

  //border: solid red;
}

//main section > div {
//  width: 1200px;
//  margin: 0 auto;
//  position: relative;
//  box-sizing: border-box;
//}

main > div {
  padding: 40px 0;
}


@media (max-width: 999px) {
  /* 레이 아웃 */
  main {
    //padding-top: 81px;
    margin: 20px auto;
  }
  main section{
    margin: 20px auto;
  }

}

