/* 레이 아웃 */
#root{
  overflow-x: hidden;
  overflow-y: auto;
}
main {
  min-height: calc(100vh - 208px);
  position: relative;
  //left: 0;
  top: 80px;
  width: 100%;
  //padding-top: 81px;

  border: solid blue;
}

main > div {
  width: 100%;
  margin: 0 auto;
  height: 100%;
  position: relative;

  border: solid red;
}

main section > div {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
}

main > div {
  padding: 40px 0;
}

main .location {
  margin: 0 0 20px 0;
}

main .location p {
  font-size: 12px;
}

main .location .path {
  margin: 0 14px 0 0;
  position: relative;
}

main .location .path::after {
  content: '\F35F';
  position: absolute;
  font: normal normal normal 14px/1 "Material Design Icons";
  top: 3px;
}

main .location .path:last-child::after {
  display: none;
}

main .location .path.on {
  color: #004abf;
  font-weight: 500;
}

@media (max-width: 999px) {
  /* 레이 아웃 */
  main {
    //padding-top: 81px;
  }
  main section > div {
    width: 100%;
  }
  main > div {
    padding: 24px 12px;
  }
  main .location {
    margin: 0 0 16px 0;
  }
}

