$_message_bg_color: #f3f5f8;
$basic_button_color: #37b7ff;
$basic_chat_header_bg_color: white;
$basic_chat_middle_bg_color: #e2eef8;
$basic_chat_footer_bg_color: #ffffff;
$basic_chat_message_bg_color: white;
$basic_chat_bg_color: white;
$basic_black_color:#2C3134;
$basic_menu_hover_color:#ecf7ff;  
/* clear */
@mixin clearfix() {
  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

/* media query */
@mixin mq($screen-width) {
  @if $screen-width == 'small-screen-1' {
    @media screen and (min-width: 900px) and (max-width: 1200px) {
      @content;
    }
  } @else if $screen-width == 'small-screen-2' {
    @media screen and (min-width: 701px) and (max-width: 899px) {
      @content;
    }
  } @else if $screen-width == 'small-screen-3' {
    @media screen and (max-width: 499px) {
      @content;
    }
  }
}

/* 기본 셋팅 */
@mixin basicBoxSetting($display: flex, $align: center, $content: center) {
  display: $display;
  align-items: $align;
  justify-content: $content;
}

/* 박스 그림자 */
@mixin boxShadow() {
}
@mixin boxSize() {
}


/* 똑같이 쓰이는것 */
%menuOpacity {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  z-index: 100;
}