footer {
  //border: solid purple;
  position:relative;
//   background:ghostwhite;
//  background: #f9f9f9;
  background: lightgray;


  margin: 0 auto;
  bottom:0;
  //width:1400px;
}

footer > div {
  height: 100%;

  width: 1400px;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
  padding: 40px 0px;
}

@media (max-width: 999px) {
  footer > div {
    width: 100%;
  }
}
