
main section {
  //width: 100%;
}

main section > div {
  //width: 1200px;
  margin: 60px auto;
  position: relative;
  box-sizing: border-box;
}

main section > div > ul {
  //margin: 0 0 0 100px;
}

.title_section h2 {
  font-size: 28px;
  font-weight: 300;
}

.company_nm {
  font-weight: 500;
}

.detail_section .project-box {
  //margin: 0 0 0 100px;
}

.detail_section .project-box > li {
  display: flex;
  align-items: center;
  margin: 28px 0;
}

.detail_section .project-box .intro {
  display: flex;
}

.detail_section .project-box .intro .intro_img {
  margin: 0 28px 0 0;
}

.detail_section .project-box .intro .intro_img.ics {
  background-color: white;
  border-radius: 50%;
  width: 47px;
  height: 49px;
}

.detail_section .project-box .intro .intro_img.ics img {
  width: 35px;
  margin: 11px 0 0 5px;
}

.detail_section .project-box .intro .intro_img.jcop {
  background-color: white;
  border-radius: 50%;
  width: 47px;
  height: 49px;
}

.detail_section .project-box .intro .intro_img.jcop img {
  width: 54px;
  margin: 11px 0 0 5px;
}

.detail_section .project-box .intro .intro_img img {
  width: 48px;
}

.detail_section .project-box .intro .intro_contents {
  margin: 0 40px 0 0;
  min-width: 200px;
}

.detail_section .project-box {
  margin-left: 100px;
}

.detail_section .project-box .contents {
  font-size: 14px;
  margin: 0 60px 0 0;
  min-width: 420px;
}

.detail_section .project-box .links {
  margin-right: 10px;
}

.detail_section .project-box .links a:hover {
  background-color: lightgray;
}

.detail_section .project-box .links a {
  font-size: 14px;
  display: inline-block;
  border-radius: 60px;
  height: 36px;
  //width: 81px;
  padding: 0 24px;
  line-height: 36px;
  border: 1px solid hsla(0, 0%, 59.2%, .24);
  background-color: #fff;

}

.pe_title_section {
  margin-top: 100px;
}

.pe_title_section h2 {
  font-size: 28px;
  font-weight: 300;
  //border-top: 1px solid silver;
}

.pe_section > div > ul {
  display: flex;
}

.pe_section > div > ul > li {
  //width: 25%;
  margin: 0 80px;
}

.pe_name {
  font-size: 15px;
}

.pe_title_detail {
  margin-top: 8px;
  font-size: 16px;
}


/** nice */
.u_line {
  border-bottom: 1px solid #ebebeb;
}


.outline p {
  font-size: 16px;
}

.outline h2 {
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 10px;
}

.outline .outline_1 {
  margin-top: 40px;
  width: 800px;
  height: 400px;
  margin-bottom: 40px;
}

.tech {
  display: flex;
}

.skills_line .tech_skills {
  margin-top: 20px;
}

.skills_line .tech_skills h2 {
  font-size: 20px;
  font-weight: 400;
}

.skills_line .tech_skills h3 {
  margin-left: 10px;
  margin-top: 5px;
}

.opn_1 {
  width: 600px;
  height: 250px;
  margin-right: 10px;
}

.opn_2 {
  width: 600px;
  height: 250px;
}

.img2_div {
  display: flex;
  margin-top: 30px;
  border: 1px solid;
}

.opn_jmeter {
  height: 500px;

  margin-bottom: 40px;
}

.scr_1 {
  width: 600px;
  height: 150px;
}

.scr_2 {
  width: 600px;
  height: 150px;
}

.outline h2 {
  font-family: "NotoSans", sans-serif;
}


.u_line img {
  //margin-top: 20px;
  margin-bottom: 20px;
}

.ex {
  font-size: 12px;
  color: #004abf;
  font-weight: 600;
}

/* 연세 세브란스 */
.yonsei_u_line {
  display: flex;
  margin-left: 150px;
  width: 100%;
}

.yonsei_contents {
  margin-left: 100px;
}

.left_project_img {
  height: 650px;

}

.yonsei_u_line .yonsei_contents {
  //font-family: "NotoSans", sans-serif;
  //font-family: ".SF NS";
  font-family: "Avenir Next Condensed"
}


.yonsei_u_line .yonsei_contents p {
  font-size: 14px;
}


.yonsei_u_line .yonsei_contents h2 {
  font-size: 17px;
}


.yonsei_u_line .yonsei_contents a {
  color: #32488a;
  font-weight: 700;
}

.color_Link {
  color: #32488a;
}

@media (max-width: 1300px) {
  .detail_section .project-box > li {
    //flex-direction: column;
    display: block;
    margin-bottom: 40px;
  }

  .detail_section .project-box .contents {
    margin: 10px 60px 10px 0;
  }

  .pe_section > div > ul {
    display: block;
  }

  .pe_section > div > ul > li {
    margin-top: 30px;
  }

  .detail_section .project-box {
    margin-left: 0px;
  }
}

